@import "reset";

$gr: 1.61803398875;
$unit: 14px;

*
{
    box-sizing: border-box;
}

body
{
    background-image: linear-gradient(#DDDDDD, #FFFFFF);
    background-size: 1px 64px;
    background-repeat: repeat-x;

    font-family: sans-serif;
    font-size: $unit;

    margin: $unit * $gr;
}

em
{
    font-style: italic;
}

strong
{
    font-weight: bold;
}

.crai--header
{
    $logo-size: 48px;

    display: grid;
    gap: $unit * $gr;
    grid-template-columns: $logo-size auto;

    border-bottom: solid 1px;
    margin-bottom: $unit * $gr;
    padding-bottom: $unit * $gr;

    & > a
    {
        background-image: url("/static/crai.svg");
        background-size: $logo-size $logo-size;
        color: transparent;

        grid-area: 1 / 1 / 2 / 2;

        display: block;
        height: $logo-size;
        width: $logo-size;
    }

    & > form
    {
        grid-area: 1 / 2 / 2 / 3;
    }
}

.crai--footer
{
    border-top: solid 1px;
    margin-top: $unit * $gr;
    padding-top: $unit * $gr;

    & > .-legal
    {
        line-height: $unit * $gr;
    }
}

.crai--warning
{
    background: #FFDC00;
    border: solid 2px #FF851B;

    font-weight: bold;

    line-height: $unit * $gr;
    margin: $unit * $gr 0;
    padding: $unit * $gr;
}

@mixin crai--title()
{
    font-size: 2 * $unit;
    font-weight: bold;
    line-height: 2 * $unit * $gr;
    margin-bottom: $unit * $gr;
}

.crai--home
{
    display: grid;
    column-gap: $unit * $gr;
    grid-template-columns: 2fr 1fr 2fr 2fr;
    & > h1      { grid-area: 1 / 2 / 2 / 4; }
    & > img     { grid-area: 2 / 2 / 3 / 3; }
    & > section { grid-area: 2 / 3 / 3 / 4; }

    & > h1
    {
        @include crai--title();
        text-align: center;
    }

    & > img
    {
        width: 100%;
    }

    & > section > p
    {
        &:not(:first-child) { margin-top: $unit * $gr; }
        line-height: $unit * $gr;
    }
}

.crai--archive
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $unit * $gr;

    & > h1
    {
        @include crai--title();
        grid-area: 1 / 1 / 2 / 3;
    }

    & > table
    {
        &.-archive      { grid-area: 2 / 1 / 3 / 2; }
        &.-distribution { grid-area: 2 / 2 / 3 / 3; }

        border-bottom: solid 1px;
        border-right: solid 1px;

        width: 100%;

        &.-archive      > tbody > tr > th { background: #7FDBFF; }
        &.-distribution > tbody > tr > th { background: #01FF70; }

        & > tbody > tr
        {
            & > th
            {
                font-weight: bold;
                text-align: left;
            }

            & > th, & > td
            {
                border-left: solid 1px;
                border-top: solid 1px;
                line-height: $unit * $gr;
                padding: $unit * $gr / 2;
            }
        }
    }
}

.crai--search-result
{
    & > h1
    {
        display: inline;
        font-weight: bold;
        line-height: $unit * $gr;

        & > .-description
        {
            font-weight: normal;
        }
    }

    & > .-tags
    {
        display: inline;

        @mixin crai--tag-style($color)
        {
            background-color: $color;
            color: darken($color, 40%);
        }

        & > .-tag
        {
            @include crai--tag-style(lightgray);
            border: solid 1px;
            border-radius: 4px;
            line-height: $unit * $gr;
            padding: 0 $gr * 1px;
        }

        & > .-archive-link { @include crai--tag-style(#3D9970) }
        & > .-archive-link:visited { @include crai--tag-style(#B10DC9) }

        & > .-depends
        {
            &.-none  { @include crai--tag-style(#01FF70);  }
            &.-few   { @include crai--tag-style(#FFDC00); }
            &.-quite { @include crai--tag-style(#FF851B); }
            &.-many  { @include crai--tag-style(#FF4136);    }
        }

        & > .-license { @include crai--tag-style(#0074D9); }
    }
}
