[Unit]
Description=CRAI serve
After=network.target
StartLimitBurst=2
StartLimitIntervalSec=10

[Service]
ExecStart=<<CRAI>> --database-path=/var/lib/crai/database serve 127.0.0.1 1800
Restart=always
User=crai

[Install]
WantedBy=multi-user.target
